stages:
  - test
  - docs
  - release

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  UV_CACHE_DIR: "$CI_PROJECT_DIR/.cache/uv"
  PYIMAGE: "3.14"

.rules_mrs_and_protected:
  - if: $CI_PIPELINE_SOURCE == "schedule"
    when: never
  - if: $CI_COMMIT_BRANCH && $CI_COMMIT_REF_PROTECTED == "true"
  - if: $CI_COMMIT_TAG && $CI_COMMIT_REF_PROTECTED == "true"
  - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

.rules_only_mrs:
  - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

.rules_only_master:
  - if: $CI_PIPELINE_SOURCE == "schedule"
    when: never
  - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_COMMIT_REF_PROTECTED == "true"

.rules_only_protected_tags:
  - if: $CI_COMMIT_TAG && $CI_COMMIT_REF_PROTECTED == "true"

.needs_all_tests:
  - test:sqlite
  - test:postgres

.script_build_docs:
  - make docs

.base_job: &base_job
  image: "registry.gitlab.com/thelabnyc/python:${PYIMAGE}"

.dev_dependency_job: &dev_dependency_job
  <<: *base_job
  before_script:
    # Install dependencies
    - uv sync
  cache:
    key: devdependencies-${PYIMAGE}
    paths:
      - .cache/pip/
      - .cache/uv/
      - .venv/

include:
  - component: gitlab.com/thelabnyc/thelab-ci-components/review@0.6.2
  - component: gitlab.com/thelabnyc/thelab-ci-components/precommit@0.6.2
    rules:
      - if: $CI_PIPELINE_SOURCE == "schedule"
        when: never
      - if: $CI_COMMIT_BRANCH && $CI_COMMIT_REF_PROTECTED == "true"
      - if: $CI_COMMIT_TAG && $CI_COMMIT_REF_PROTECTED == "true"
      - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
  - component: gitlab.com/thelabnyc/thelab-ci-components/publish-gitlab-release@0.6.2
  - component: gitlab.com/thelabnyc/thelab-ci-components/publish-to-pypi@0.6.2
    inputs:
      image: "registry.gitlab.com/thelabnyc/python:${PYIMAGE}"

test:sqlite: &test_sqlite
  <<: *dev_dependency_job
  rules:
    - !reference [.rules_mrs_and_protected]
  stage: test
  needs: []
  variables:
    DJANGO_SETTINGS_MODULE: thelabdb.tests.settings.sqlite
    TEST_PKGS: thelabdb.tests.testsuniv
  parallel:
    matrix:
      - PYIMAGE: "3.13"
        TOX_SKIP_ENV: "^(?!py313-)"
      - PYIMAGE: "3.14"
        TOX_SKIP_ENV: "^(?!py314-)"
  script:
    - uv run tox

test:postgres:
  <<: *test_sqlite
  variables:
    POSTGRES_DB: postgres
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: ""
    POSTGRES_HOST_AUTH_METHOD: "trust"
    DJANGO_SETTINGS_MODULE: thelabdb.tests.settings.pg
    TEST_PKGS: thelabdb.tests.testsuniv thelabdb.tests.testspg
  services:
    - postgres:latest@sha256:38d5c9d522037d8bf0864c9068e4df2f8a60127c6489ab06f98fdeda535560f9
  # Only get coverage from postgres job since the sqlite job skips the postgres
  # test, which makes coverage seem lower than it actually is.
  coverage: '/^TOTAL.+?(\d+\%)$/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml

test:docs:
  <<: *dev_dependency_job
  rules:
    - !reference [.rules_only_mrs]
  stage: test
  needs: []
  script:
    - !reference [.script_build_docs]

pages:
  <<: *dev_dependency_job
  rules:
    - !reference [.rules_only_master]
  stage: docs
  needs:
    - !reference [.needs_all_tests]
  script:
    - !reference [.script_build_docs]
  artifacts:
    paths:
      - public
