services:
  postgres:
    image: postgres:latest@sha256:b3ef52d269e0050ac3ba8266d8bc9650987412f60d66472fdf7e14f523ecc506
    environment:
      POSTGRES_HOST_AUTH_METHOD: 'trust'

  test:
    build: .
    depends_on:
      - postgres
    volumes:
      - .:/code
    environment:
      DJANGO_SETTINGS_MODULE: thelabdb.tests.settings.pg
