services:
  postgres:
    image: postgres:latest@sha256:5773fe724c49c42a7a9ca70202e11e1dff21fb7235b335a73f39297d200b73a2
    environment:
      POSTGRES_HOST_AUTH_METHOD: 'trust'

  test:
    build: .
    depends_on:
      - postgres
    volumes:
      - .:/code
    environment:
      DJANGO_SETTINGS_MODULE: thelabdb.tests.settings.pg
