[tool.poetry]
name = "thelabdb"
version = "0.1.1"
description = "Django DB Utilities"
authors = ["thelabnyc <thelabdev@thelabnyc.com>"]
license = "ISC"
readme = "README.md"
homepage = "https://gitlab.com/thelabnyc/thelab-db"
repository = "https://gitlab.com/thelabnyc/thelab-db"
documentation = "https://thelabnyc.gitlab.io/thelab-db"
packages = [
    { include = "thelabdb" },
]

[tool.poetry.dependencies]
python = "^3.10"
Django = ">=3.2.0,<5.0"
cryptography = ">=41.0.5"

[tool.poetry.group.dev.dependencies]
flake8 = "^6.1.0"
coverage = "^7.3.2"
tox = "^4.11.3"
psycopg = {extras = ["binary"], version = "^3.1.15"}

[tool.poetry.group.docs.dependencies]
mkdocs = "^1.3.1"
pymdown-extensions = "^10.3.1"
mkdocs-material = "^9.4.7"
mkdocs-awesome-pages-plugin = "^2.8.0"
mkdocs-section-index = "^0.3.4"
mkdocs-pagenav-generator = {git = "https://github.com/Andre601/mkdocs-pagenav-generator", rev = "main"}
mkautodoc = "^0.2.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
