/* Styles for https://github.com/tomchristie/mkautodoc */
div.autodoc-docstring {
    padding-left: 20px;
    margin-bottom: 30px;
    border-left: 5px solid rgba(230, 230, 230);
}

div.autodoc-members {
    padding-left: 20px;
    margin-bottom: 15px;
}

/* Our custom styles */
.breadcrumbs {
    font-size: 0.7rem;
    line-height: 1.3;
    color: var(--md-default-fg-color--lighter);
    margin-bottom: 0.64em;
}

h2::before {
    content: "## ";
    color: var(--md-default-fg-color--lighter);
}

h3::before {
    content: "### ";
    color: var(--md-default-fg-color--lighter);
}

h4::before {
    content: "#### ";
    color: var(--md-default-fg-color--lighter);
}

h5::before {
    content: "##### ";
    color: var(--md-default-fg-color--lighter);
}

h6::before {
    content: "###### ";
    color: var(--md-default-fg-color--lighter);
}

figure p {
    display: flex;
    justify-content: center;
}

figure.box-shadow {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
figure.box-shadow img {
    box-shadow: 0 0 50px #bbb;
}
